* {
    margin: 0;
    padding: 0;
    background-color: seashell;
}
// ----------------------
// Variables
// ----------------------
$maincolor: black;
$contrastcolor: #FEF5ED;


@mixin black-text-grey-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}




// -------------
// Header
// -------------

nav {
    @include black-text-grey-bg;
    height: 5vh;
    padding-top: 1em;

}

// -------------
// Footer
// -------------

.Footer {
    position: absolute;
    left: 0;
    right: 0;    
    bottom: 0;
}    

footer {
    padding: 1%;
}