
// ----------------------
// Variables
// ----------------------
$maincolor: black;
$contrastcolor: #FEF5ED;


@mixin black-text-grey-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}


// -------------
// Header
// -------------

nav {
    @include black-text-grey-bg;
    height: 5vh;

}

// -------------
// Footer
// -------------

.Footer {
    position: absolute;
    left: 0;
    right: 0;    
    bottom: 0;
}    